extends ../layout
block content
  .container-fluid.full-height.text-center#play-image.img-back.rel.play-page
    .shader.full-fit
    h3.loud.rel.tagline Spinners
    .intro-holder
      .intro-back.full-fit
      div.reading.intro
        h4 What is it?
        p   An assortion of spinners which can be used to entertain guests while bulky things load. 
        h4 How did I make it?
        p   My first foray into CSS animations and I wish I had looked into them earlier. Compared to animating DOM elements using Javascript which can get pretty messy CSS animations are a breeze! 
        h4 What was challenging?
        p   Reducing the bulkiness of the CSS with long animation declarations and vendor prefixes could be a a challenge. I used LESS to create some mixins for applying transforms using the different vendor prefixes to tackle this.
        h4 What can be improved?
        p   I would like to work on some more complex animations and spinners with elements that interact with each other more.
    iframe(src = '/play/snippets/spinners/').light