extends ../layout
block content
  .container-fluid.full-height.text-center#play-image.img-back.rel.play-page
    .shader.full-fit
    h3.loud.rel.tagline Twinkle
    .intro-holder
      .intro-back.full-fit
      div.reading.intro
        h4 What is it?
        p   An animation of the night sky. Sit back, relax and enjoy the serenity!
        h4 How did I make it?
        p   The effect is achieved using a UTF symbol for a star and changing the font size. Each star is an individual object which has size and position properties. The star object also has an update function which when called figures out if the star should be growing or shrinking (by the max and min size values) and updates the size and font-size accordingly. When the document is ready stars are appended at random coordinates and the update funciton is run on an interval to make them twinkle!  <br> 
        h4 What was challenging?
        p   Getting a large nunmber of elements to update at a reasonable framerate proved difficult. Any less than about 500 stars and it looks a bit scarse and a framerate of under 10FPS starts to look choppy. To combat this I updated the stars in groups. So on creation each star was given a group number at random and when updating all stars with the same group number update in sync with each other. This reduces the number of objects which need to be monitered (from 500+ to 10-20) and the number of calls to the DOM which significantly improved rendering time.
        h4 What can be improved?
        p   I developed this in firefox and it looks nice in that but chrome doesnt look so pretty. The fonts seem to render differently and the effect looks choppy. I hope to improve this in the future.
    iframe(src = '/play/snippets/twinkle/').twinkle