/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_

						COLOR INDEX

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_

# /*
# white: #fafafa;
# black: #333333;
# 
# 
# 
# 
# # */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_

						GENERAL SELECTORS

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_*/


a:link { color: #333333; text-decoration: none; font-family: sans-serif;}
a:visited { color: #333333; text-decoration: none;}
a:hover { color: #fafafa; }
a:active { color: #EC173A; }


body {
	font-size: 62.5%;
	background-color: #fafafa;
	width: 100vw;
	height: 100vh;
}

html * {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
} 

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_

						ID

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_*/

#game{
	position: absolute;
}

#menu {
	top: 20vw;
	z-index: 10;
	position: absolute;
	background-color: #fafafa;
	opacity: 0.5;
	border: 1px solid #F36253;
	border-radius: 3vw;
	width: 50vw;
	height: 40vw;
	left: 25vw;
	box-shadow: 0px 0px 20px #0E175B;
	display: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#menu:hover{
	opacity: 1;
}

#menu button{
	display: block;
	margin: auto;
	background-color: transparent;
	border: none;
	font-size: 4vw;
	line-height: 6vw;
	margin-top: 3vw;
	font-family:'Helvetica Neue',sans-serif;
	color: #0E175B;
}

#menu button:hover{

	background-color: #F36253;
	color: #fafafa;

}


#board {
	margin-top: 5vw;
	z-index: 2;
}

#board table{
	margin-left: 15vw; 
	height: 60vw;
	width: 60vw;
	border-collapse: collapse;
}

#board td > div{
	height: 10vw;
	width: 10vw;
	overflow: hidden;
}

#board td > div > div {
	border-radius: 50%;
	height: 8.8vw;
	width: 8.8vw;
	border: #61C8DF 4vw solid;
	margin-left: -3.4vw;
	margin-top: -3.4vw;
	z-index: 2;
}

#line {
	position: absolute;
	z-index: 3;
	margin-left: 15vw; 
	margin-top: 10vw;
}

#lineCanvas{
	position: absolute;
	top: 5vw;
	width: 70vw;
	height: 60vw;
}

#board tr:first-child > td > div > div{
	border: #fafafa 4vw solid;
}


#board.free tr:first-child > td > div > div:hover{
	background-color: #FFF728;
}
#board.free.red tr:first-child > td > div > div:hover{
	background-color: #F36253;
}

#board.free.won tr:first-child > td > div > div:hover{
	background-color: #fafafa;
}

#pieces {

}

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_

						CLASS

/*_-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-__-+=+-__-^-_*/

.piece {
	position: absolute;
	display: none;
	height: 9vw;
	width: 9vw;
	border-radius: 9vw;
	z-index: -1;
	top: 5vw;
}

.piece.red {
	background-color: #F36253;
}
.piece.yellow {
	background-color: #FFF728;
}
.piece.black {
	background-color: black;
}