extends layout
block content
  .container-fluid.home-page.text-center


    span#section1 
      
      .question.full-height#section1-image.img-back.rel
        .shader.full-fit
        h3.loud.half-down.rel Who am I?
        h3.half-down.rel.scroll-down
          span.glyphicon.glyphicon-chevron-down
      
      .answer.light
        .container-fluid
          .row
            .col-md-8(data-animation = "slideInLeft").reveal-on-scroll
              ul
                li NATHAN SCOTT TAYLOR
                li 26
                li From Melbourne, Australia
                li <br>
            .col-md-4(data-animation = "fadeInRight" data-timeout="600").reveal-on-scroll
              .circle
                .img.cooking.img-back
                .img.coding.img-back
                .img.coffee.img-back
                .shader
                h4.heading Interests:
                ul.reading 
                  li(name = "cooking" data-animation = "fadeInDown" data-timeout="1000").reveal-on-scroll Cooking
                  li(name = "coding" data-animation = "fadeInDown" data-timeout="1500").reveal-on-scroll Coding
                  li(name = "coffee" data-animation = "fadeInDown" data-timeout="2000").reveal-on-scroll Coffee


    span#section2
      
      .question.full-height#section2-image.img-back.rel
        .shader.full-fit
        h3.loud.half-down.rel Where have I been?
      
      .answer.light
        .container-fluid
          ul
            li(data-animation = "fadeInUp").reveal-on-scroll Studied Engineering & Commerce at Monash University.
            li(data-animation = "fadeInUp" data-timeout="200").reveal-on-scroll Lived in Japan for 3 years and snowboarded / made sushi / taught English
            li(data-animation = "fadeInUp" data-timeout="600").reveal-on-scroll Became interested in Web development
            li(data-animation = "fadeInUp" data-timeout="800").reveal-on-scroll Studied independently over the last 1.5 years
 

    span#section3   
      
      .question.full-height#section3-image.img-back.rel
        .shader.full-fit
        h3.loud.half-down.rel What can I do?
      
      .answer.light
        .container-fluid
          .row
            .col-md-6
              ul
                p.heading(data-animation = "slideInLeft").reveal-on-scroll I am confident with:
                li 
                  .container-fluid
                    .row
                      .col-xs-12
                        ul.small 
                          li(data-animation = "fadeInUp" data-timeout="400").reveal-on-scroll HTML
                          li(data-animation = "fadeInUp" data-timeout="600").reveal-on-scroll CSS & preproccesors
                          li(data-animation = "fadeInUp" data-timeout="800").reveal-on-scroll Javascript & Jquery 
                          li(data-animation = "fadeInUp" data-timeout="1000").reveal-on-scroll Modular code
                          li(data-animation = "fadeInUp" data-timeout="1200").reveal-on-scroll Asynchronous programming
                          li(data-animation = "fadeInUp" data-timeout="1200").reveal-on-scroll Responsive web design                        
                          li(data-animation = "fadeInUp" data-timeout="1400").reveal-on-scroll Debugging
                          li(data-animation = "fadeInUp" data-timeout="1400").reveal-on-scroll <br>   

            .col-md-6
              ul 
                p.heading(data-animation = "slideInRight").reveal-on-scroll I have experience with:
                li
                  .container-fluid
                    .row
                      .col-xs-12
                        ul.small 
                          li(data-animation = "fadeInUp" data-timeout="400").reveal-on-scroll PHP
                          li(data-animation = "fadeInUp" data-timeout="450").reveal-on-scroll Node.js (this site)
                          li(data-animation = "fadeInUp" data-timeout="650").reveal-on-scroll Version Control (Git / Github)
                          li(data-animation = "fadeInUp" data-timeout="700").reveal-on-scroll Design, UX, Image manipulation
                          li(data-animation = "fadeInUp" data-timeout="760").reveal-on-scroll Server management
                          li(data-animation = "fadeInUp" data-timeout="790").reveal-on-scroll Domain management
                          li(data-animation = "fadeInUp" data-timeout="820").reveal-on-scroll FTP

  
    span#section4
      
      .question.full-height#section4-image.img-back.rel
        .shader.full-fit
        h3.loud.half-down.rel Where do I want to go?
      
      .answer.light
        .container-fluid
          ul
            li(data-animation = "fadeInUp" ).reveal-on-scroll I want to work in a digital agency
            li(data-animation = "fadeInUp" data-timeout="200").reveal-on-scroll I want to improve my skills and learn from others
            li(data-animation = "fadeInUp" data-timeout="400").reveal-on-scroll I want to create top quality work
            li(data-animation = "fadeInUp" data-timeout="600").reveal-on-scroll I want to innovate and push the boundries of what is possible



