doctype html
html.no-js
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Portfolio and personal site of Nathan Taylor. Come in and make yourself at home!")
    meta(name="keywords" content="web development, blog, work, portfolio, css, html, javascript, melbourne, australia, nathan taylor")
    meta(name="robots" content="index, follow")

    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    script(src='/js/PxLoader.js')   
    script(src='/js/PxLoaderImage.js') 
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/modernizr.js')
    script(src='/js/script.js')   

    
  body.nospinner

    header
      nav.navbar.navbar-fixed-top
        .container-fluid.text-center.nav-link-holder.show.hide-mid-document
          .link-holder
            a(href="/").inverse HOME
          .link-holder  
            a(href="/work").inverse WORK        
          .link-holder  
            a(href="/play").inverse PLAY
          .link-holder  
            a(href="/blogposts/").inverse BLOG       

    #navbarToggle.show-mid-document
          .shape.rectangle.inverse
          .shape.rectangle.inverse
          .shape.rectangle.inverse


    block content


    footer.footer
      .container-fluid.text-center
        .row
          .col-sm-3 
          .col-sm-6            
            p.reading Contact me: nathanstaylor1@gmail.com
          .col-sm-3
            a(href = "https://twitter.com/nathanstaylor1" target = "_blank")
              i.fa.fa-twitter
            a(href = "https://au.linkedin.com/pub/nathan-taylor/102/a0/37" target = "_blank")
              i.fa.fa-linkedin
            a(href = "https://github.com/nathanstaylor1" target = "_blank")
              i.fa.fa-github-square

    #loader-wrapper
        #spinner
            .shape.cir
            .shape.cir
            .shape.cir
            .message
                h4 L
                h4 O
                h4 A
                h4 D
                h4 I
                h4 N
                h4 G

        .blocker

        