doctype html
html
  head

    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/snippets/stencillax/resources/css/parallax.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/snippets/stencillax/resources/js/script.js')
    
  body

  .parallax
    #group1.parallax__group

      .parallax__layer.parallax__layer--deep
        .content
          img( src = "/snippets/stencillax/resources/css/images/current/5.png")

      .parallax__layer.parallax__layer--back
        .content
          img( src="/snippets/stencillax/resources/css/images/current/4.png")

      .parallax__layer.parallax__layer--base
        .content
          img( src="/snippets/stencillax/resources/css/images/current/3.png")
          <h1>MESSAGE</h1>

      .parallax__layer.parallax__layer--fore
        .content
          img( src="/snippets/stencillax/resources/css/images/current/2.png")   

      .parallax__layer.parallax__layer--front
        .content
          img( src="/snippets/stencillax/resources/css/images/current/1.png")      
      
      .parallax__layer.parallax__layer--front.cover
        .content

    #group2.parallax__group

