doctype html
html
  head

    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    link(rel='stylesheet', href='/snippets/connectfour/resources/css/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/snippets/connectfour/resources/js/script.js')
    
  body

    #game
      #menu
        #mainMenu
          button#vsCpu Play vs. CPU
          button#vsPlayer 2 Player
          button#twoCpus CPU vs. CPU

      #pieces
      #line
        canvas#lineCanvas
      #board.free
         table
            tr
                td#1: div: div
                td#2: div: div
                td#3: div: div
                td#4: div: div
                td#5: div: div
                td#6: div: div
                td#7: div: div
            tr
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
            tr
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
            tr
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
            tr
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
            tr
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
            tr
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div
                td: div: div                                                    
