doctype html
html
  head

    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/snippets/spinners/resources/css/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/snippets/spinners/resources/js/script.js')
    
  body


    .container-fluid
        .row
            .col-lg-6#foldingSquare
                .shape.circle.opaque
                .shape.circle.opaque
                .shape.circle.opaque
                .shape.circle.opaque
                .shape.circle.opaque                    

            .col-lg-6#mexicanWave
                .shape.rectangle
                .shape.rectangle
                .shape.rectangle
                .shape.rectangle
                .shape.rectangle

            .col-lg-6#juggle
                .shape.square.small
                .shape.circle.small
                .triangle.up.small

            .col-lg-6#dancingSquares
                .shape.circle.small
                .triangle.up.small

            .col-lg-6#opaqueCircles
                .triangle.up.opaque
                .triangle.down.opaque
